[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
line-bot-sdk = "*"
python-decouple = "*"
requests = "*"
dropbox = "*"
bs4 = "*"
lxml = "*"
pafy = "*"
youtube-dl = "*"

[requires]
python_version = "3.7"
